.panel {
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  max-width: 33vw;
  height: calc(100vh - 125px);
  font-size: 15px;
  position: relative;
  bottom: 5px;

  &:nth-child(1){
    border-left: 1px solid lightgrey;
  }

  &-header {
    cursor: pointer;
    padding: 0.2em 0;
    border-bottom: 1px solid lightgrey;
  }

  &-title {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    font-family: helvetica;
    padding: .2em 0;
  }

  .more-icon {
    float: right;
    position: relative;
    bottom: 32px;
    right: 10px;
    cursor: pointer;
    user-select: none;
  }

  .add-task-btn {
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 26px;
    color: green;
    font-size: 25px;
    right: 5px;
    user-select: none;
    font-weight: 1000;
  }

  &-settings {
    float: right;
    border: 1px solid grey;
    position: absolute;
    left: 120px;
    width: 120px;
    z-index: 3;
    li {
      padding: 0.2em 0.5em;
      font-size: 16px;
      font-weight: 500;
      transition: background-color 0.3s;

      &:hover {
        cursor: pointer;
        background-color: grey;
      }
    }
  }
}

.del-panel {
  background-color: white;
  height: 300px;
  width: 400px;
  display: initial;
  position: relative;
}
