.task {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 3px;
  font-family: "Roboto";
  color: black;
  font-size: 12px;

  &-large-tasks {
    .task-title {
      font-size: 15px;
    }
  }

  h5 {
    margin: 0;
  }

  &-title {
    cursor: auto;
    width: fit-content;
  }

  .description-btn {
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
  }

  &-description {
    padding: 0.5em 0 0;
    clear: both;
    cursor: auto;
    border-top: 1px dotted black;
  }

  &-info {
    width: 600px;
    height: 400px;

    h5 {
      margin: 0;
    }

    &-title {
      font-size: 15px !important;
      margin-bottom: 2em;
    }

    &-edit-btn {
      position: absolute;
      bottom: 20px;
      right: 80px;
      z-index: 100;
    }

    &-timer-btn {
      position: absolute;
      bottom: 20px;
      right: 140px;
      z-index: 100;
    }

    &-del-btn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 100;
    }

    &-del-confirm {
      position: absolute;
      bottom: 0;
      right: 10px;
      width: 150px;
      padding: 1em;
      z-index: 101;

      .card-footer {
        display: flex;
        justify-content: space-around;
      }
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      margin: auto;
    }
  }
}

.add-task {
  width: 400px;
  height: 400px;
  padding: 3em;

  input,
  textarea {
    padding: 5px;
  }

  .container {
    display: flex;
    width: 200px;
    justify-content: space-around;
  }
}

.color-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin: 0 auto 1em;
  position: relative;

  button {
    width: 20px;
  }
}
