@import '../../styles.scss';

.board {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  overflow-x: scroll;

  &-settings-drawer {
    width: 250px;
    font-family: roboto;

    li {
      display: flex;
      align-items: center;
      padding: 0 1em;
      a {
        padding: 0.5em;
        width: 100%;
        font-size: 16px;
        color: inherit;
        cursor: pointer;
      }
    }
  }
  &-select-mode-popup {
    position: absolute;
    top: 70px;
    left: 40%;
    z-index: 100;
    .card {
    }
  }

  &-title {
    font-size: 1.6em;
    font-weight: 600;
  }

  &-panels {
    display: flex;
    // border-left: 1px solid grey;
    margin: 0.5em;
    transition: transform 0.3s;
  }

  &-header {
    height: 50px;
    position: fixed;

    header {
      position: relative;
      bottom: 5px;
      left: 10px;
    }

    .toggle-board-edit {
      position: relative;
      left: 50px;
      bottom: 8px;
    }

    .right {
      li {
        height: 50px;
        position: relative;
        bottom: 0px;
      }
    }

    a {
      padding: 0.5em;
    }

    &-boards-display {
      width: 150px;
      position: absolute;
      top: 20px;
      left: 160px;

      li {
        padding: 0.3em !important;
        line-height: 1;
        text-align: left;
      }

      &-items {
        font-size: 1.5em;
        width: 100%;
        padding: 0.5em;
      }
    }

    .menu-icon {
      font-size: 25px;
    }
  }

  .valign-wrapper {
    .add-panel-btn {
      position: relative;
      float: right;
      left: 1em;
    }

    .add-panel-form {
      float: left;
      margin: 0;
      padding: 1em;

      .input-field {
        margin: 0;
      }

      &-btns {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
      }
    }
  }

  &-color-legend {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 99%;
    position: absolute;
    bottom: 1px;
    left: 6px;
    li {
      padding: .3em 0 .3em;
      float: left;
      width: 19.9%;
      text-align: center;
      font-size: 14px;
      border: 1px solid grey;
      border-radius: 5px;
    }
  }
}

.del-board {
  background-color: white;
  height: 300px;
  width: 400px;
  display: initial;
  position: relative;
}

.new-board {
  width: 240px;
  position: absolute;
  z-index: 5;
  padding: 0.5em;
  right: 0;
  top: -7px;
  .card-content {
    padding: 0 0.5em;
  }
  .card-action {
    display: flex;
    justify-content: space-between;
  }
}

.edit-board-title{
  font-size: 1.6em;
  font-weight: 600;
}
