.home {
      font-family: sans-serif;
  h2 {
    font-weight: 600;
    text-align: center;
  }
  img {
    width: 100%;
  }

  .row {
    padding-top: 50px;
    margin-bottom: 100px;

    .landing {
      min-height: calc(100vh - 84px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      overflow: hidden;
      border-bottom: 1px solid lightgrey;

      p {
        font-size: 1.3em;
      }
    }
    h6 {
      font-size: 1.3em;
      line-height: 1.5;
    }

    .landing-img {
      max-height: 550px;
      width: 80%;
      overflow: hidden;
      position: relative;
      top: 20px;
      border-bottom: 2px solid grey;

      img {
        max-height: 100%;
        border-top: 2px solid grey;
      }
    }
  }

  .section {
    width: 90%;
    height: 500px;
    display: grid;
    align-items: center;
    grid-gap: 2em;
    margin: auto;
  }

  .section-right {
    grid-template-columns: 1fr 1fr;
    width: 70%;

    .left {
      width: 80%;
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .section-left {
    width: 70%;
    text-align: right;
    grid-template-columns: 1fr 1fr;
    .right {
      width: 80%;
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .left {
      width: 80%;
      margin: auto;
    }
  }

  .section-last {
    width: 700px;
    margin: 200px auto 0;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
