* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
  user-select: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
header {
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  font-weight: 1000;
  background-color: black;
  color: white;
}
.header-add-panel-btn {
  float: right;
  color: green;
  margin-right: 30px;
  border-radius: 100px;
  position: absolute;
  left: 1700px;
  bottom: 490px;
  font-size: 48px;
  font-weight: 1000;
}
a {
  color: #333;
  text-decoration: none;
}
.task-panel {
  margin: 10px;
  margin-right: 0;
  padding: 10px;
  width: 300px;
  height: 500px;
  background-color: #f3f3f3;
  border: 2px solid black;
  border-radius: 5px;
  float: left;
}
.task-header {
  font-size: 20px;
  text-align: center;
}
.task-header-title {
  margin: 10px 0px 10px;
}
.task-header-setting {
  bottom: 5px;
  border-radius: 10px;
  margin: 0 auto;
}
.task-header-setting-btn {
  float: right;
  position: relative;
  bottom: 40px;
  right: 10px;
  font-size: 20px;
  font-weight: 600;
}
.task-header-setting ul {
  text-align: left;
}
.task-header-setting li {
  list-style: none;
  display: block;
  width: fit-content;
  margin-left: 20px;
  float: left;
}
.task-header-setting p {
  color: green;
}
.task-item {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  clear: both;
}
.task-item-setting-btn{
  font-size: 20px;
}
.prompt-window {
  text-align: center;
  position: absolute;
  right: calc(50vw - 100px);
  bottom: 199px;
}
